<!doctype html>
<html lang="en">

<head>
    <title>Password Strength 🏨</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        .alert {
            background: green;
            padding: 1rem;
            border-radius: 5px;
            color: white;
            margin: 1rem;
        }
        
        div#loading {
            width: 100px;
            height: 95px;
            display: none;
            background: url('../static/loader.gif') no-repeat;
            cursor: wait;
        }
    </style>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <div class="min-vh-100 d-flex" style=" 
    background-image: url('../static/home.webp');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-7 mt-5">
                    <h1 style="color:#ffdcdc; margin-top: 3rem;font-size:4rem;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Password Strength Checker</h1>
                    <form action="/check" method="POST">

                        <label for="pwd" style="margin-top: 3rem; color:white;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Enter your password</label>
                        <input type="password" class="form-control" name="pwd" id="pwd" placeholder="">

                        <input type="submit" class="btn btn-danger float-right mt-3" value="Calculate" id="calc_btn" onclick="loading();" />
                        <h3 style="color:#ffdcdc; margin-top: 2rem;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
                            {{ sum }}
                        </h3>
                        <div id="loading"></div>
                    </form>

                </div>

            </div>
            <div class="row d-flex justify-content-center align-items-center">
                <h4 style="color:white; margin-top: 5rem;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Choose a hard-to-guess,but a easy-to-remember 🔒 </h4>

            </div>

        </div>
        <script type="text/javascript">
            // <![CDATA[
            function loading() {
                $("#loading").show();
                $("#content").hide();
            }
            // ]]>
        </script>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>
</body>

</html>